@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300;0,400;0,700;1,400&display=swap');

html {
    box-sizing: border-box;
    font-size: 16px;
}

*, *:before, *:after {
    box-sizing: inherit;
}

#root {
    display: flex;
    justify-content: center;

}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;

}

ol, ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

body {
    background: #282c34
}

.App {
    text-align: center;
    font-family: 'Figtree', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #c3ffc8;
    max-width: 600px;
    position: absolute;
    
    justify-content: space-evenly;
    max-height:1000px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.introduction {
    width: 95%;
    padding: 20px;
    border: 1px solid #c3ffc8;
    border-radius: 50px;
    margin: 18px;

}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.submit-button{
    padding-inline:100px;
}



.subtext {

    font-size: 0.8em;
    font-weight: 100
}

h1{
    font-size:2em;
}

h2{
    font-size:1.4em;
}

a {
    color: inherit;
    font-weight: bold;

}

.stage-info-holder{
    border: 1px solid #c3ffc8;
    padding-inline:10px;
    padding-block:5px;
    margin-block:20px;
    width:98%;
    border-radius:25px;
    display:flex;
    flex-direction:row;
    align-items:center;

}

.stage-info {
    
    width: 100%;
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.stage-info p{
    background: #c3ffc8;
    color: #282c34;
    border-radius:50px;
    padding-block:5px;
    padding-inline:25px;
    margin-block:2px;
    height: 30px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size:0.9em;
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 15rem;
}

    /***** Track Styles *****/
    /***** Chrome, Safari, Opera, and Edge Chromium *****/
    input[type="range"]::-webkit-slider-runnable-track {
        background-color: #c3ffc8;
        height: 0.5rem;
        border-radius: 10px;
    }

    /******** Firefox ********/
    input[type="range"]::-moz-range-track {
        background: #c3ffc8;
        height: 0.5rem;
        border-radius: 10px;
    }

    /***** Thumb Styles *****/
    /***** Chrome, Safari, Opera, and Edge Chromium *****/
    input[type="range"]::-webkit-slider-thumb {
        -webkit-appearance: none; /* Override default look */
        appearance: none;
        margin-top: -12px; /* Centers thumb on the track */
        background-color: #cbcbcb;
        height: 2rem;
        width: 1rem;
        border:4px double black;
    }

.slider {
    width: 80%;
    margin-block:10px;
        
}

.guess {
    border: black 10px double;
    padding: 10px;
    padding-inline: 20px;
    border-radius: 50px;
    margin-top: 10px;
    background: #c3ffc8;
    color: #282c34;
    display: flex;
    flex-direction: column;
    align-items: center;
    width:85%;

}




.slider-holder {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #c3ffc8;
    border-radius:50px;
    padding:10px;
    margin-block:10px;
}

    .slider-holder p {
        max-width: 66%;
        padding-top: 10px;
    }

.difficulty-container {


    width: 97%;
    display:flex;
    flex-direction:column;
    align-items:center;
}

.difficulty-selector {
    border: 1px solid #c3ffc8;
    border-radius: 50px;
    padding-block: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-block:10px;
    min-height:100px;
    justify-content:center;
}

.difficulty-option {
    display: flex;
    justify-content: space-between;
    width:75%;
}

#challenge-selector label{
    padding-inline:20px;
}

#use-different-starting-notes{
    width:25px;
    border-radius:100px;
}

button {
    border-radius: 20px;
    padding: 10px;
    padding-inline: 20px;
    font-weight: bold;
    font-size: 1.1em;
    box-shadow: 0 0 black;
    background: #c3ffc8
}

.justify-content-center{
    justify-content:center;
}

.justify-content-space-between {
    justify-content: space-between;
}

.flex-column{
    flex-direction:column;
}

.height100{
    height:100%;
}



.color-reset {
    color: #c3ffc8;
    background: #282c34;
}

.max-width75{
    max-width:75%;
}

.font-size-1em{
   font-size:1em;
}

.font-weight-100{
    font-weight:100;
}

.active{
    text-decoration:underline;
    font-size:1.1em;
    font-weight:bold;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
